.winscreen{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: darkgrey;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.background{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    height: 100%;
    opacity: .88;
}